$color-primary: #3a6150;
$color-primary-light: #3a6150b2;

$color-white: #fff;
$color-gray-light-1: #f9f9f9;
$color-gray-light-2: #e9e9e9;
$color-gray-1: lighten(#111, 50%);
$color-gray-2: lighten(#000, 40%);
$color-green-gray: #71837b;
$color-blue-gray: #8392a6;
$color-black: #000;
$color-red: #f00;
